.row {
	margin: 0;
	padding: 0;
}

.row > ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(var(--board-size), 1fr);
}

.size-7x7 {
	composes: row;
}

.size-7x7 {
	--board-size: 7;
}

.size-15x15 {
	composes: row;
}

.size-15x15 {
	--board-size: 15;
}

